# ---> Python binary
__pycache__/

# ---> Django migrations
migrations/

# ---> Database file
*.sqlite3

# ---> VSCode configuration settings
.vscode/

# ---> Personal Credentials
# Contributors will be emailed the credential file
*.secret

# ---> Virtualenv folder
website-portfolio/

# ---> Compiled folder with command `python manage.py collectstatic`
# Contains static files
staticfiles/

# ---> Contains media files
info/
pics/

# ---> Log folder
logs/

# ---> Node modules
node_modules/