# Python stuff
__pycache__/

# Django db stuff
migrations/

# Database file
*.sqlite3

# Static root folder made by `python manage.py collectstatic command`
cdn/

# VSCode configuration settings
.vscode/
