{% load static %}

{% block inline_css %}
<style>
    .no-decoration {
        text-decoration: none !important;
    }

    .animated-link {
        transition-timing-function: ease-in-out;
        transition-property: color, color;
        transition: .5s;
    }

    .animated-link:hover {
        border-bottom: 1px solid #ffffff !important;
    }

    .banner-header {
        border-bottom: solid #ffffff !important;
    }

</style>
{% endblock inline_css %}

{% block body %}
<!-- TODO: make this section responsive -->

<!-- Navbar component -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark container-fluid sticky-top fixed-top">
    <div class="container">
        <h3 class="navbar-brand banner-header"><a href="/#top" class="no-decoration text-white text-sm-center">My
                Portfolio</a></h3>
        <div class="float-right">
            <a href="/#begin" class="text-white no-decoration animated-link mr-4">Home</a>
            <a href="/#about" class="text-white no-decoration animated-link mr-4">About</a>
            <a href="/#contact" class="text-white no-decoration animated-link mr-4">Contact</a>
            <a href="/#projects" class="text-white no-decoration animated-link">Projects</a>
        </div>
        <div class="dropdown ml-2">
            <button class="btn btn-outline-success" type="button"><i class="fab fa-github text-black-50"></i> Source
                Code</button>&nbsp;
            <button class="btn btn-outline-primary" type="button"><i class="fa fa-images text-white"></i>
                <a href="{% url 'main:project-list' %}" class="btn-link no-decoration">Projects List</a></button>
        </div>
    </div>
</nav>
{% endblock body %}
